[submodule "sc-ecommerce/lib/openzeppelin-contracts"]
	path = sc-ecommerce/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "sc-ecommerce/lib/forge-std"]
	path = sc-ecommerce/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
